
.card {
  width: 15vw;
  padding: 3vh;
  background: linear-gradient(120deg, #6d0007, #630014, #530339, #19053f, #020447);
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 5px 5px 10px;
}

.card > span {
  font-size: 2vw;
}

.card .cardTitle {
  margin: .5vh 0;
  font-weight: 600;
}

.card .cardValue {
  font-size: 1.2vw;
}